<!DOCTYPE html>
<html>
<head>
<title>YouTube Mashup Creator</title>
</head>
<body>

<h2>YouTube Mashup Creator</h2>

<form method="post">

Singer Name:<br>
<input type="text" name="singer" required><br><br>

Number of Videos:<br>
<input type="number" name="number" required><br><br>

Duration (seconds):<br>
<input type="number" name="duration" required><br><br>

Email:<br>
<input type="email" name="email" required><br><br>

<input type="submit" value="Create Mashup">

</form>

</body>
</html>



